altair==5.0.1
numpy==1.25.1
pandas==2.0.3
pydeck==0.8.0
streamlit==1.25.0
matplotlib==3.7.2
scikit-learn==1.2.2
statsmodels==0.14.0
plotly==5.18.0
optuna==3.5.0
prophet==1.1.5
shap==0.44.1
plotnine==0.12.4